<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
  <mat-toolbar>
    ¡Revisa nuestras mejores recetas!
  </mat-toolbar>
  
  <mat-drawer-container class="example-container">
    <mat-drawer-content>
      <div class="example-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-evenly center">
        <div *ngFor="let rec of rec ">
        <mat-card class="example-card" *ngIf="rec.Likes>=5">
            <mat-card-header>
              <mat-card-title>{{rec.Nombre}}</mat-card-title>
              <mat-card-subtitle>{{rec.Autor}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{rec.imagen}}">
            <mat-card-content>
              <p>{{rec.Descripcion}}</p>
            </mat-card-content>
            <mat-card-actions>
              <i class="fas fa-heart"> {{rec.Likes}}</i>
            </mat-card-actions>
        </mat-card>
      </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
  <app-footer></app-footer>
</article>


