<mat-toolbar color="primary" class="sticky">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <img src="../assets/logo2.png">
      <div *ngIf="!deviceXs" fxLayout="row">
        <button mat-button [routerLink]="['content']">Inicio</button>
        <button mat-button [routerLink]="['recetas']">Recetas</button>
      </div>
    </div>
    <div>
      <button *ngIf="deviceXs" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button
        *ngIf="!deviceXs"
        mat-button
        [matMenuTriggerFor]="menu"
        fxLayoutAlign="end"
      >
        Menu
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
    <button mat-button>Inicio</button>
    <button mat-button>Recetas</button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- Elementos Menu -->
<mat-menu #menu="matMenu" fxLayoutAlign="end">
  <button mat-menu-item *ngIf="!isLogge"  [routerLink]="['login']">Iniciar Sesion</button>
  <button mat-menu-item *ngIf="!isLogge" >Registrate</button>
  <button mat-menu-item *ngIf="isLogge" [routerLink]="['profile']">Perfil</button>
  <button mat-menu-item *ngIf="isLogge" (click)="cerrarSesion()" >Cerrar sesión</button>
</mat-menu>
