<footer>
	<div class="footer-container">
		<div class="footer-main">
			<div class="footer-columna">
				<h2>Elaborado por:</h2>
				<ul>
					<li>Ariana Yaneli Lopez Ortiz</li>
					<li>Luis Gustavo Cruz Rosales</li>
					<li>Jose Maria Leoncio Rodriguez Rocha</li>
					<li>Lizbeth Ricaño Bautista</li>
					<li>Alonso Leonides Cano Herbert</li>
					<li>Jaziel Cazares Aranda</li>
				</ul>
			</div>
			<div class="footer-columna">
			</div>
			<div class="footer-columna">
				<img src="../assets/ti.png" class="imgRedonda2">
			</div>

		</div>
	</div>

	<div class="footer-copy-redes">
		<div class="main-copy-redes">
			<div class="footer-copy">
				<h2>&copy; 2020 | TIC UTXJ.</h2>
			</div>
			<div class="footer-redes">
				<img src="../assets/elchema.jpg" class='imgRedonda'>
				<img src="../assets/esponja.jpg" class='imgRedonda'>
				<img src="../assets/liz.jpg" class='imgRedonda'>
				<img src="../assets/yane.jpg" class='imgRedonda'>
				<img src="../assets/elalonso.jpg" class='imgRedonda'>
				<img src="../assets/eljaz.jpg" class='imgRedonda'>
			</div>
		</div>
	</div>
</footer>

 