
<!--div fxLayout="row" fxLayoutAlign="center center" class="login-main" style="margin-top: 200px;">
  <mat-card>
    <br>
    <mat-card-header>
      <mat-card-title align-text>Inicio de Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Usuario">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Contraseña">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="color" color="primary">Ingresar</button>
    </mat-card-actions>
  </mat-card>
</div-->
<article [class.content]="!deviceXs" [class.content-mob]="deviceXs" (scroll)="onScroll($event)">
  <mat-drawer-container class="example-container">  
  <div class="login-page">
    <div class="form">
      <img src="../assets/login2.png" style="margin-bottom: 15px;">
      <form ngNativeValidate #form="ngForm" class="login-form" id="loginform"
      (ngSubmit)="ingresar(form)">
      <input ngModel name="email" class="form-control" type="email" placeholder="Correo" required>
      <input ngModel name="password" class="form-control" type="password" placeholder="Contraseña" required>
      <div *ngIf="errorMessage" class="form-group row" style="margin-left: 6px;">
        <div>
            <h6 class="text-danger" style="font-size: 12px; font-weight: 500;">{{errorMessage}}</h6>
        </div>
      </div>
      <button type="submit">login</button>
      <p class="message">Disfruta de todo nuestro contenido para usuarios registrados.</p>
    </form>
    </div>
  </div>
  </mat-drawer-container>
  </article>